{% extends 'base.html' %}
{% load   static %}
{% block home %}active{% endblock  %}
<!--container with form-->


{% block content %}
<div class="content">
<form action="result" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
  <div class="input-group mb-3">
  <span class="input-group-text text-light bg-dark px-3 py-2 " for="domain">Subdomain File</span> 
  <input class="form-control" name="domainfile" type="file" id="formFile">  </div>
  <div>
  <button type="submit" class="btn btn-dark mt-4 px-5 py-3">Submit</button>
  </div>
</form>
</div>
{% endblock %}